body {
    background: url('img/sky.png') no-repeat center fixed;
    background-size: cover;
}

h1 {
    margin: 20px auto;
}

.bold {
    font-weight: bold;
}

.page-header {
    padding-bottom: 10px;
}

.error {
    padding-top: 10px;
    font-size: 1.2em;
    font-style: italic;
    color: #337ab7;
}

.card {
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 15px;
}

.card .card-body {
    padding: 1.3rem;
    background-color: rgba(255, 255, 255, 0.4);
}

.card .card-body .fa-refresh {
    font-size: 28px;
    float: right;
    padding: 5px 10px;
    cursor: pointer;
    opacity: 0.3;
}

.card .card-body .fa-refresh:hover {
    opacity: 1;
}

.card .card-body .card-link {
    padding-right: 1.1rem;
    color: #337ab7;
    display: inline;
}

.card .card-body .card-link:hover {
    color: #23527c;
    text-decoration: underline;
    cursor: pointer;
}

.card .comments {
    margin: 15px 0 20px 0;
}

.card .comments .comment {
    background-color: rgba(238, 239, 244, 0.7);
    margin-bottom: 5px;
}

.card .comments .comment p {
    margin: 0px;
}

.card .write-comment {
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 4px;
    margin-top: 10px;
    display: none;
}

.show {
    display: table;
} 

.card .write-comment input {
    margin-bottom: 5px;
}

.credit {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 10px;
}